* {
  margin: 0;
  padding: 0;
  background-color: rgba(233, 233, 233, 0.781);
}

form {
  margin-top: 5%;
  padding-left: 0px;
}

.material-icons {
  background-color: rgba(233, 233, 233, 0.781);
  position: relative;
  height: 40px;
  margin-right: 0px;
}

input,
select {
  border-radius: 0px 1px 1px 0px;
  margin-left: 0px;
}

@media (max-width: 400px) {
  form {
    margin-left: 5% !important;
  }
  label {
    padding-right: 0px !important;
  }

  input,
  select {
    width: 150px !important;
    height: 20px;
  }
}

@media (min-width: 400px) and (max-width: 576px) {
  form {
    margin-left: 10% !important;
  }

  label {
    padding-right: 0px !important;
  }

  input,
  select {
    width: 150px !important;
    height: 20px;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  form {
    margin-left: 15% !important;
    margin-top: 10% !important;
  }

  label {
    padding-right: 120px !important;
  }

  input,
  select {
    width: 235px;
    height: 40px;
  }
}

form {
  margin-left: 25%;
}
label {
  padding-right: 150px;
}

input,
select {
  width: 255px;
  height: 40px;
  background-color: white;
}

#btn {
  font-size: 16px;
  width: 100px;
  height: 40px;
  margin-top: 4%;
  margin-left: 28%;
  background-color:  rgba(26, 2, 2, 0.185);;
}

.red-border {
  border: red 1px double;
}